body {
  background: #1A1325;
  color: #F8D108;
}

.site {
  position: relative;
}

.container {
  position: absolute;
  
  top: 0;
  left: 0;
  
  height: 100vh;
  width: 100vw;
  
  z-index: 100;
}

.top {
  display: flex;
  justify-content: flex-end;
  height: calc(100vh - 400px);
}

.SideBar {
  width: 400px;
  background: rgba(26, 19, 37, 0.80);
  padding: 2rem;
}

.charts {
  height: 400px;
}